
<header>
  <img src="/assets/synq-logo.svg" alt="synq - browsersync to the fullest" />
</header>


<section class="creator" data-create>
  <form action="#">
    <div class="creator-container"><input type="text" autofocus><button class="button">+</button></div>
  </form>
</section>


<section class="instance-list">
  <h2>Instances</h2>
  <ul data-instances>
    {{#each data}}
    <li data-instance>
      <a href="{{this.external}}">{{this.url}}</a>
      <button id="start"  class="button">synq</button>
      <button id="stop"   class="button">unsynq</button>
      <button id="remove" class="button"><i class="remove"></i></button></li>
    {{/each}}
  </ul>
</section>
