
<header>
  <img src="/assets/synq-logo.svg" alt="synq - browsersync to the fullest" />
</header>


<section class="creator" data-create>
  {{{synqCreator}}}
  <!-- from HB <form action="#">
    <div class="creator-container"><input type="text" autofocus><button class="button">+</button></div>
  </form> -->
</section>


<section class="instance-list">
  <div class="instance-container">
    <h2>active synqs</h2>
    {{{synqList}}}
  </div>
</section>
