
<header>
  <img src="/assets/synq-logo.svg" alt="synq - browsersync to the fullest" />
</header>


<section class="creator" data-create>
  <div class="creator-container">
    <input type="text" placeholder="+" autofocus>
    <div class="button" tabindex="0"><span>+</span></div>
  </div>
</section>


<section class="instance-list">
  <div class="instance-container">
    <h2>active synqs</h2>
    <ul data-instances>
      {{#each data}}
        <li data-instance>
          <a href="{{this.external}}">{{this.url}}</a>
          <div id="start"  class="button button-instance">start synq</div>
          <div id="stop"   class="button button-instance">stop unsynq</div>
          <div id="remove" class="button button-instance">delete synq</div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>

<section id="react"></section>
