html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

@font-face {
  font-family: 'OSP DIN';
  src: url("/assets/font/OSP-DIN.eot");
  /* IE9 Compat Modes */
  src: url("/assets/font/OSP-DIN.eot?#iefix") format("embedded-opentype"), url("/assets/font/OSP-DIN.woff") format("woff"), url("/assets/font/OSP-DIN.ttf") format("truetype"), url("/assets/font/OSP-DIN.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

* {
  box-sizing: border-box; }
  *:focus {
    outline: 0;
    box-shadow: 0 0 6px 1px rgba(64, 224, 208, 0.65); }

html, body {
  margin: 0;
  padding: 0; }

body, input, textarea, keygen, select, button {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5,
.osp-din {
  font-family: "OSP DIN", Verdana, sans-serif; }

header {
  padding: 50px 0 25px; }
  header img {
    width: 300px;
    margin: 0 auto;
    display: block; }

.creator {
  margin: 25px auto 50px; }
  .creator-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center; }
  .creator input {
    background: #000;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    font-size: 24px;
    z-index: 1337;
    transition: box-shadow 0.45s linear; }
    .creator input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px; }
    .creator input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px; }
    .creator input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px; }
    .creator input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px; }
    .creator input:focus {
      background: black; }
      .creator input:focus::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0); }
      .creator input:focus:-moz-placeholder {
        color: rgba(255, 255, 255, 0); }
      .creator input:focus::-moz-placeholder {
        color: rgba(255, 255, 255, 0); }
      .creator input:focus:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0); }
      .creator input:focus + .button {
        transform: translateX(10px) scale(1);
        z-index: 1; }
  .creator .button {
    border-radius: 50%;
    color: #000;
    width: 44px;
    height: 44px;
    margin: 3px 0 0;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 32px;
    transform: translateX(-50px) scale(0.6);
    z-index: -1;
    position: absolute;
    transition: transform 0.3s 0.1s cubic-bezier(0.14, 0.74, 0.65, 1.4); }
    .creator .button:focus {
      transform: translateX(10px) scale(1);
      transition: transform 0.2s 0.1s cubic-bezier(0.14, 0.74, 0.65, 1.3), box-shadow 0.45s linear;
      z-index: 1; }
    .creator .button span {
      width: 100%;
      height: 100%;
      display: inline-block;
      line-height: 44px;
      text-align: center;
      transition: transform 0.6s 0.1s cubic-bezier(0.14, 0.74, 0.85, 1.2);
      transform: scale(1);
      transform-origin: center; }
    .creator .button:hover span {
      transition: transform 0.4s cubic-bezier(0.24, 0.85, 0.74, 1);
      transform: scale(1.15); }

.instance-container {
  width: 80%;
  margin: 50px auto;
  text-align: left; }
  .instance-container h2 {
    font-size: 50px;
    letter-spacing: 1px;
    padding: 0 20px 2px 5px;
    border-bottom: 5px solid #000;
    line-height: 1em;
    text-transform: uppercase;
    display: inline-block; }
  .instance-container ul {
    padding: 25px 0; }
  .instance-container ul li {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 10px 0;
    height: 60px;
    padding: 0; }
    .instance-container ul li::before {
      content: "";
      width: 11px;
      height: 11px;
      position: absolute;
      margin-top: 25px;
      transform: translateX(-20px) rotate(50deg);
      transition: transform 0.3s cubic-bezier(0.24, 0.85, 0.74, 1); }
    .instance-container ul li.true::before {
      background: turquoise; }
    .instance-container ul li.false::before {
      background: #000; }
    .instance-container ul li:hover::before {
      content: "";
      transform: translateX(-30px) rotate(225deg); }
  .instance-container li a {
    width: calc(100% - 200px);
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    height: 100%;
    line-height: 60px; }

.button-instance {
  background: #000;
  color: #fff;
  width: 60px;
  height: 60px;
  cursor: pointer;
  line-height: 55px;
  text-align: center; }
  .button-instance + .button-instance {
    margin-left: 10px; }
